<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!--#if (usePrivateNugetPackages)-->
    <add key="ElboraiSoftware GitHub Packages" value="https://nuget.pkg.github.com/ElboraiSoftware/index.json" />
    <!--#endif -->
  </packageSources>
</configuration>